<div class="skipLink">
  <a [href]="skipLinkPath" title="Skip to Main Content" aria-label="Skip to Main Content">
    Skip to Main Content
  </a>
</div>
<nav
  class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between"
>
<a class="navbar-brand" routerLink="/" title="angularNodeSampleApp" aria-label="angularNodeSampleApp">
    angularNodeSampleApp
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link active" routerLink="/" title="Blank" aria-label="Blank">
      Blank 
    </a>
    <a class="nav-item nav-link active" routerLink="/grid" title="Grid" aria-label="Grid">
      Grid
    </a>
    <a class="nav-item nav-link active" routerLink="/list" title="List" aria-label="List">
      List
    </a>
    <a class="nav-item nav-link active" routerLink="/master-detail" title="Master_Detail" aria-label="Master_Detail">
      Master_Detail
    </a>
  </div>
</nav>
